In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings("ignore")

In [3]:
df=pd.read_csv("/content/drive/MyDrive/study/Sentiment.csv")

In [4]:
df.head()

,id,candidate,candidate_confidence,relevant_yn,relevant_yn_confidence,sentiment,sentiment_confidence,subject_matter,subject_matter_confidence,candidate_gold,...,relevant_yn_gold,retweet_count,sentiment_gold,subject_matter_gold,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
0,1,No candidate mentioned,1.0,yes,1.0,Neutral,0.6578,None of the above,1.0000,NaN,...,NaN,5,NaN,NaN,RT @NancyLeeGrahn: How did everyone feel about...,NaN,2015-08-07 09:54:46 -0700,629697200650592256,NaN,Quito
1,2,Scott Walker,1.0,yes,1.0,Positive,0.6333,None of the above,1.0000,NaN,...,NaN,26,NaN,NaN,RT @ScottWalker: Didn't catch the full #GOPdeb...,NaN,2015-08-07 09:54:46 -0700,629697199560069120,NaN,NaN
2,3,No candidate mentioned,1.0,yes,1.0,Neutral,0.6629,None of the above,0.6629,NaN,...,NaN,27,NaN,NaN,RT @TJMShow: No mention of Tamir Rice and the ...,NaN,2015-08-07 09:54:46 -0700,629697199312482304,NaN,NaN
3,4,No candidate mentioned,1.0,yes,1.0,Positive,1.0000,None of the above,0.7039,NaN,...,NaN,138,NaN,NaN,RT @RobGeorge: That Carly Fiorina is trending ...,NaN,2015-08-07 09:54:45 -0700,629697197118861312,Texas,Central Time (US & Canada)
4,5,Donald Trump,1.0,yes,1.0,Positive,0.7045,None of the above,1.0000,NaN,...,NaN,156,NaN,NaN,RT @DanScavino: #GOPDebate w/ @realDonaldTrump...,NaN,2015-08-07 09:54:45 -0700,629697196967903232,NaN,Arizona

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13871 entries, 0 to 13870
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         13871 non-null  int64
 1   candidate                  13775 non-null  object
 2   candidate_confidence       13871 non-null  float64
 3   relevant_yn                13871 non-null  object
 4   relevant_yn_confidence     13871 non-null  float64
 5   sentiment                  13871 non-null  object
 6   sentiment_confidence       13871 non-null  float64
 7   subject_matter             13545 non-null  object
 8   subject_matter_confidence  13871 non-null  float64
 9   candidate_gold             28 non-null     object
 10  name                       13871 non-null  object
 11  relevant_yn_gold           32 non-null     object
 12  retweet_count              13871 non-null  int64
 13  sentiment_gold             15 non-null     object
 14  subject_matter_gold        18 non-null     object
 15  text                       13871 non-null  object
 16  tweet_coord                21 non-null     object
 17  tweet_created              13871 non-null  object
 18  tweet_id                   13871 non-null  int64
 19  tweet_location             9959 non-null   object
 20  user_timezone              9468 non-null   object
dtypes: float64(4), int64(3), object(14)
memory usage: 2.2+ MB

In [6]:
df_new=df[["text","sentiment"]]

In [7]:
df_new

                                                    text sentiment
0      RT @NancyLeeGrahn: How did everyone feel about...   Neutral
1      RT @ScottWalker: Didn't catch the full #GOPdeb...  Positive
2      RT @TJMShow: No mention of Tamir Rice and the ...   Neutral
3      RT @RobGeorge: That Carly Fiorina is trending ...  Positive
4      RT @DanScavino: #GOPDebate w/ @realDonaldTrump...  Positive
...                                                  ...       ...
13866  RT @cappy_yarbrough: Love to see men who will ...  Negative
13867  RT @georgehenryw: Who thought Huckabee exceede...  Positive
13868  RT @Lrihendry: #TedCruz As President, I will a...  Positive
13869  RT @JRehling: #GOPDebate Donald Trump says tha...  Negative
13870  RT @Lrihendry: #TedCruz headed into the Presid...  Positive

[13871 rows x 2 columns]

In [8]:
df_new.shape

(13871, 2)

In [9]:
df_new[df_new["sentiment"]=="Neutral"].count()

text         3142
sentiment    3142
dtype: int64

# Total number of positive and negative sentiments.

In [10]:
pos=df_new["text"][(df_new["sentiment"]=="Positive")].count()
neg=df_new["text"][(df_new["sentiment"]=="Negative")].count()
print(f"Total Positive Sentiments={pos}")
print(f"Total Negative Sentiments={neg}")

Total Positive Sentiments=2236
Total Negative Sentiments=8493

In [11]:
df_new[(df_new["sentiment"]=="Positive") | (df_new["sentiment"]=="Negative")].count()

text         10729
sentiment    10729
dtype: int64

In [12]:
df_all=df_new[(df_new["sentiment"]=="Positive") | (df_new["sentiment"]=="Negative")]

In [13]:
df_all

                                                    text sentiment
1      RT @ScottWalker: Didn't catch the full #GOPdeb...  Positive
3      RT @RobGeorge: That Carly Fiorina is trending ...  Positive
4      RT @DanScavino: #GOPDebate w/ @realDonaldTrump...  Positive
5      RT @GregAbbott_TX: @TedCruz: "On my first day ...  Positive
6      RT @warriorwoman91: I liked her and was happy ...  Negative
...                                                  ...       ...
13866  RT @cappy_yarbrough: Love to see men who will ...  Negative
13867  RT @georgehenryw: Who thought Huckabee exceede...  Positive
13868  RT @Lrihendry: #TedCruz As President, I will a...  Positive
13869  RT @JRehling: #GOPDebate Donald Trump says tha...  Negative
13870  RT @Lrihendry: #TedCruz headed into the Presid...  Positive

[10729 rows x 2 columns]

In [14]:
import re
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from keras.preprocessing.text import Tokenizer
import keras
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
import math
import nltk

In [15]:
def remove_tags(string):
    removelist = ""
    result = re.sub('RT','',string) # Remove RT from text         
    result = result.lower()
    return result
df_all['text'] = df_all['text'].apply(lambda cw : remove_tags(cw))

In [16]:
nltk.download('stopwords')
from nltk.corpus import stopwords
STOPWORDS = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [17]:
# Removing stopwords
stop_words = set(stopwords.words('english'))
df_all['text'] = df_all['text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))

In [18]:
# Lemmatizing text
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()

In [19]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [20]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [21]:
# Lemmatizing text
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()
def lemmatize_text(text):
    st = ""
    for w in w_tokenizer.tokenize(text):
        st = st + lemmatizer.lemmatize(w) + " "
    return st
df_all['text'] = df_new.text.apply(lemmatize_text)
df_all.sample(15)

                                                    text sentiment
305    @realDonaldTrump You killed it last night at t...  Positive
3642   Legitimacy of TV news 2015: last night Jon Ste...  Negative
13613  RT @RWSurferGirl: I think Cruz and Trump need ...  Negative
10879  Hurry #GOPDebates! Watching #BigBrother in 13 ...  Negative
3848   RT @1Marchella: This is straight up #fascism. ...  Negative
1878   RT @shannonrwatts: 18 state have done what con...  Negative
7709   Omfg Huckabee called out Obama for vilifying p...  Negative
3565   RT @TheBaxterBean: Jeb Bush Worked For Cuban O...  Negative
396    RT @ImmigranNacion: @JebBush #GOPDebate #USA, ...  Negative
865    RT @peddoc63: Go Carly📢 Go Carly📢 Go Carly📢 @C...  Positive
363    RT @JohnAmato: I actually agree with @AndreaTa...  Positive
1179   They were treating life a pawns. Polices shoul...  Negative
10771  RT @laurenreeves: "Stay tuned for closing stat...  Negative
10052          "I'll be my best to do that" #GOPDebates   Positive
3852   Last time, it took 5 days. How long will it ta...  Negative

In [22]:
# Encoding Labels
reviews = df_all["text"].values
labels = df_all["sentiment"].values
encoder = LabelEncoder()
encoded_labels = encoder.fit_transform(labels)

In [23]:
# Train Test Split
train_sentences, test_sentences, train_labels, test_labels = train_test_split(reviews, encoded_labels, stratify = encoded_labels)

In [24]:
# Tokenizing Sentences
vocab_size = 3000 
oov_tok = ''
embedding_dim = 100
max_length = 200 
padding_type='post'
trunc_type='post'

In [29]:
!pip install Keras-Preprocessing

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Keras-Preprocessing
  Downloading Keras_Preprocessing-1.1.2-py2.py3-none-any.whl (42 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.6/42.6 KB 3.9 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.9.1 in /usr/local/lib/python3.9/dist-packages (from Keras-Preprocessing) (1.22.4)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.9/dist-packages (from Keras-Preprocessing) (1.15.0)
Installing collected packages: Keras-Preprocessing
Successfully installed Keras-Preprocessing-1.1.2

In [32]:
from keras_preprocessing.sequence import pad_sequences
tokenizer = Tokenizer(num_words = vocab_size, oov_token=oov_tok)
tokenizer.fit_on_texts(train_sentences)
word_index = tokenizer.word_index

train_sequences = tokenizer.texts_to_sequences(train_sentences)
train_padded = pad_sequences(train_sequences, padding='post', maxlen=max_length)

test_sequences = tokenizer.texts_to_sequences(test_sentences)
test_padded = pad_sequences(test_sequences, padding='post', maxlen=max_length)

# Model Development

In [33]:
model = keras.Sequential([
    keras.layers.Embedding(vocab_size, embedding_dim, input_length=max_length),
    keras.layers.Bidirectional(keras.layers.LSTM(64)),
    keras.layers.Dense(24, activation='relu'),
    keras.layers.Dense(24, activation='relu'),
    keras.layers.Dense(24, activation='relu'),
    keras.layers.Dense(24, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')])

In [34]:
# compile model
model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

In [35]:
# model summary
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 200, 100)          300000

 bidirectional (Bidirectiona  (None, 128)              84480
 l)

 dense (Dense)               (None, 24)                3096

 dense_1 (Dense)             (None, 24)                600

 dense_2 (Dense)             (None, 24)                600

 dense_3 (Dense)             (None, 24)                600

 dense_4 (Dense)             (None, 1)                 25

=================================================================
Total params: 389,401
Trainable params: 389,401
Non-trainable params: 0
_________________________________________________________________

In [36]:
num_epochs = 10
history = model.fit(train_padded, train_labels, 
                    epochs=num_epochs, verbose=1, 
                    validation_split=0.1)

Epoch 1/10
227/227 [==============================] - 84s 346ms/step - loss: 0.4336 - accuracy: 0.8165 - val_loss: 0.4007 - val_accuracy: 0.8273
Epoch 2/10
227/227 [==============================] - 71s 314ms/step - loss: 0.2917 - accuracy: 0.8826 - val_loss: 0.3793 - val_accuracy: 0.8335
Epoch 3/10
227/227 [==============================] - 69s 304ms/step - loss: 0.2379 - accuracy: 0.9044 - val_loss: 0.4174 - val_accuracy: 0.8261
Epoch 4/10
227/227 [==============================] - 73s 323ms/step - loss: 0.1955 - accuracy: 0.9224 - val_loss: 0.4710 - val_accuracy: 0.8298
Epoch 5/10
227/227 [==============================] - 73s 320ms/step - loss: 0.1630 - accuracy: 0.9354 - val_loss: 0.4786 - val_accuracy: 0.8261
Epoch 6/10
227/227 [==============================] - 71s 311ms/step - loss: 0.1392 - accuracy: 0.9443 - val_loss: 0.5602 - val_accuracy: 0.8286
Epoch 7/10
227/227 [==============================] - 68s 301ms/step - loss: 0.1149 - accuracy: 0.9515 - val_loss: 0.6795 - val_accuracy: 0.8174
Epoch 8/10
227/227 [==============================] - 74s 328ms/step - loss: 0.1065 - accuracy: 0.9569 - val_loss: 0.7051 - val_accuracy: 0.8248
Epoch 9/10
227/227 [==============================] - 71s 314ms/step - loss: 0.0929 - accuracy: 0.9616 - val_loss: 0.9039 - val_accuracy: 0.8137
Epoch 10/10
227/227 [==============================] - 70s 308ms/step - loss: 0.0851 - accuracy: 0.9644 - val_loss: 0.8311 - val_accuracy: 0.8174

In [37]:
prediction = model.predict(test_padded)
pred_labels = []

for i in prediction:
    if i >= 0.5:
        pred_labels.append(1)
    else:
        pred_labels.append(0)
print("Accuracy of prediction on test set : ", accuracy_score(test_labels,pred_labels))

84/84 [==============================] - 8s 86ms/step
Accuracy of prediction on test set :  0.8326500186358554

## Based on the model, checking the sentiment for the following sentences.

In [42]:
sentence = ["I feel tired this morning.","He is a great leader.", "He is a terrible leader.",
            "I love this car.","I do not like this car.","This view is amazing.",
            "I feel great this morning.","He is my enemy.","This view is horrible.",
            "I am not looking forward to the concert.","I am so excited about the concert.","He is my best friend."]

In [43]:
sequences = tokenizer.texts_to_sequences(sentence)

In [44]:
padded = pad_sequences(sequences, padding='post', maxlen=max_length)
prediction = model.predict(padded)
pred_labels = []

1/1 [==============================] - 0s 60ms/step

In [45]:
for i in prediction:
    if i >= 0.5:
        pred_labels.append(1)
    else:
        pred_labels.append(0)
        
for i in range(len(sentence)):
    print(sentence[i])
    if pred_labels[i] == 1:
        s = 'Positive'
    else:
        s = 'Negative'
    print("Predicted sentiment : ",s)

I feel tired this morning.
Predicted sentiment :  Positive
He is a great leader.
Predicted sentiment :  Positive
He is a terrible leader.
Predicted sentiment :  Negative
I love this car.
Predicted sentiment :  Positive
I do not like this car.
Predicted sentiment :  Negative
This view is amazing.
Predicted sentiment :  Positive
I feel great this morning.
Predicted sentiment :  Positive
He is my enemy.
Predicted sentiment :  Positive
This view is horrible.
Predicted sentiment :  Negative
I am not looking forward to the concert.
Predicted sentiment :  Negative
I am so excited about the concert.
Predicted sentiment :  Positive
He is my best friend.
Predicted sentiment :  Positive